<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark setting-menu">
      <div class="header"></div>
        <div class="container">
          <div class="logo mx-auto">
            <div class= "col-md-12">
              <img src="images/orv.png" class="img-fluid">
              <p class="text-center text-white"><a>[A nameless constellation is looking at you.]</a></p>
              <p class=" text-center text-white">Name of Sponsor:</p>
              <h5 class="text-center text-white">{{context}}</h5>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container bg, mt-4">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3">
          <div class="thumbnail">
            <img src="images/uriel.png">
            <p class="text-center"><a href="#" class="text-decoration-none text-white">Demon Like Judge of Fire</a></p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3">
          <div class="thumbnail">
            <img src="images/swk.png">
            <p class="text-center"><a href="#" class="text-decoration-none text-white">Prisoner of Golden Headband</a></p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3">
          <div class="thumbnail">
            <img src="images/abfd.png">
            <p class="text-center"><a href="#" class="text-decoration-none text-white">Abyssal Black Flame Dragon</a></p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3">
          <div class="thumbnail">
            <img src="images/sp.png">
            <p class="text-center"><a href="#" class="text-decoration-none text-white">Secretive Plotter</a></p>
          </div>
        </div>
        <script src="js/jquery-3.2.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
  </body>
</html>
<!-- <h1>Shopping List Page</h1>>

<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>